[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
social-auth-app-django = "*"
django-extensions = "*"
werkzeug = "*"
pyopenssl = "*"
python-decouple = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.12"
